[defaults]
roles_path = ./roles
inventory = ./inventory/hosts.ini
host_key_checking = False
interpreter_python = auto_silent
retry_files_enabled = False
remote_user = selebry
private_key_file = /Users/selebry/Desktop/kasper/tf/ssh-keys/Rocky9-Terraform-private-key.pem
